@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Montserrat:wght@500&display=swap");

:root {
  --bright-grey: #9aa1b4;
  --medium-grey: #15161e;
  --dark-grey: #091115;
  --yellow-white: #f5f1d1;
}

* {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body,
html {
  font-size: 10px;
  font-family: "Merriweather", serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: var(--dark-grey);
  color: var(--yellow-white);
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-size: 3rem;
  margin-top: 5rem;
  letter-spacing: 0.3rem;
  font-weight: 200;
  border-bottom: 1px solid var(--yellow-white);
}

h3 {
  font-size: 2rem;
  letter-spacing: 0.1rem;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 10vh;
}

footer {
  width: 100%;
  padding: 10px 0;
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  color: var(--bright-grey);
}

footer a {
  color: var(--yellow-white);
  text-decoration: none;
  border-bottom: 1px solid var(--yellow-white);
}

footer > * {
  margin: 0px 5px;
}

.heart {
  color: rgb(244, 94, 107);
  font-size: 2rem;
}

.grid {
  margin-top: 5vh;
}

.grid-item {
  display: block;
}

.card {
  border-radius: 1%;
  overflow: hidden;
  transition: all 0.2s;
  transition-property: border, transform;
  padding: 0 5vw;
  height: 100%;

  position: relative;
  border: 1px solid var(--dark-grey);
  margin-bottom: 5vh;
}

.card-link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.card-content {
  background-color: var(--medium-grey);
  padding-top: 30px;
  padding-bottom: 20px;
  text-decoration: none;
}

.card-content {
  color: var(--yellow-white);
  text-decoration: none !important;
  border-bottom: none;
  text-align: center;
}

.square-image {
  display: block;
  width: 100%;
  height: 85vw;
  object-fit: cover;
  object-position: center;
}

#subtitle {
  display: none;
}

@media (min-width: 800px) {
  h1 {
    font-size: 5rem;
    margin-top: 5rem;
    margin-bottom: 2rem;
  }

  #subtitle {
    display: block;
  }
  h2 {
    font-size: 1.8rem;
    margin-bottom: 5rem;
    letter-spacing: 0.3rem;
    font-weight: 100;
  }

  h3 {
    letter-spacing: 0.1rem;
  }

  html {
    font-size: 12px;
  }

  .card:hover {
    transform: scale(1.02);
    border: 1px solid var(--yellow-white);
  }

  .card-content {
    padding: 40px;
  }
  .card {
    padding: 0;

    width: 100%;
    margin: 0;
  }

  .square-image {
    width: 100%;
    height: 40vw;
  }

  .grid {
    display: grid;
    width: 90vw;
    grid-template-columns: 1fr 1fr;
    grid-gap: 60px;
  }
}

@media (min-width: 1250px) {
  .square-image {
    height: 25vw;
  }

  .grid {
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 60px;
  }
}
