:root {
  --medium-grey: #16171d;
  --dark-grey: #101014;
  --yellow-white: #f4f1d0;
}

* {
  box-sizing: inherit;
}

body,
html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: var(--dark-grey);
}

main {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 10vh;
}

.grid {
  display: grid;
  width: 90vw;
  grid-template-columns: repeat(auto-fill, calc(50% - 10px));
  grid-gap: 20px;
}

.grid-item {
  display: block;
}

.card {
  transition: all 0.2s;
  transition-property: border transform;

  height: 100%;

  position: relative;
  border: 1px solid var(--dark-grey);
}

.card:hover {
  transform: scale(1.02);
  border: 1px solid var(--yellow-white);
}

.card-link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.card-content {
  background-color: var(--medium-grey);
  padding: 20px;
  text-decoration: none;
}

.card-content > * {
  margin: 0;
  padding: 0;
  color: var(--yellow-white);
  text-decoration: none !important;
  border-bottom: none;
}

.square-image {
  display: block;
  width: 100%;
  height: 40vw;
  object-fit: cover;
  object-position: center;
}
