.gridItem {
  display: block;
}

.cardHeading {
  font-size: 2rem;
}

.card {
  border-radius: 1%;
  overflow: hidden;
  transition: all 0.2s;
  transition-property: border, transform;
  padding: 0 5vw;
  height: 100%;

  position: relative;
  border: 1px solid var(--dark-grey);
  margin-bottom: 5vh;
}

.cardLink {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.cardContent {
  background-color: var(--medium-grey);
  padding-top: 30px;
  padding-bottom: 20px;
  text-decoration: none;
}

.cardContent {
  color: var(--yellow-white);
  text-decoration: none !important;
  border-bottom: none;
  text-align: center;
}

.squareImage {
  display: block;
  position: relative;
  width: 100%;
  height: 85vw;
  object-fit: cover;
  object-position: center;
}

.bigIcon {
  font-size: 40rem;
}

.centerIcon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.centerIcon > svg {
  width: 70%;
}

@media (min-width: 900px) {
  .bigIcon {
    font-size: 20rem;
  }

  .card:hover {
    transform: scale(1.02);
    border: 1px solid var(--yellow-white);
  }

  .cardContent {
    padding: 40px;
  }
  .card {
    padding: 0;

    width: 100%;
    margin: 0;
  }

  .squareImage {
    width: 100%;
    height: 40vw;
  }
}

@media (min-width: 1350px) {
  .squareImage {
    height: 25vw;
  }
}
