.fullScreen {
  /* position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh; */
  min-height: 100vh;
  overflow-x: hidden;
  background: var(--semi-dark-grey);
  /* overflow-y: hidden; */
}
